/* fonts poppins */
@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");

/* font manrope */
@import url("https://fonts.googleapis.com/css2?family=Manrope&display=swap");

.modern-nav-a {
  font-family: Poppins;
  font-style: normal;
  font-weight: bold;
  font-size: 22px;
  line-height: 33px;
  font-feature-settings: "liga" off;
  color: #3e3e3e;
}

.modern-nav-li {
  font-family: Poppins;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  font-feature-settings: "liga" off;
  color: #3e3e3e;
}

.modern-section-slider-h1 {
  font-family: Poppins;
  font-style: normal;
  font-weight: 600;
  font-size: 48px;
  line-height: 58px;
  text-align: center;
  color: #ffffff;
}

.modern-section-slider-p {
  font-family: Poppins;
  font-style: normal;
  font-weight: 300;
  font-size: 16px;
  line-height: 24px;
  text-align: center;
  color: #ffffff;
}

.modern-section-slider-button {
  padding: 10px;
  margin: 30px;
  width: 168px;
  height: 44px;
  background: #ffffff;
  border-radius: 5px;
  font-family: Poppins;
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  line-height: 24px;
  color: #3f87f5;
}

.section-moments-img {
  width: 446px;
  height: 300px;
}

.section-moments-h1 {
  font-family: Poppins;
  font-style: normal;
  font-weight: bold;
  font-size: 38px;
  line-height: 60px;
  color: #0a0826;
}

.section-moments-p {
  font-family: Poppins;
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  line-height: 28px;
  color: #6c6c6c;
}

.section-moments-button {
  padding: 10px 24px;
  width: 230px;
  height: 44px;
  left: 737px;
  top: 1037px;
  background: #3f87f5;
  font-family: Poppins;
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  line-height: 24px;
  color: #ffffff;
}
