/* fonts poppins */
@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");

/* font manrope */
@import url("https://fonts.googleapis.com/css2?family=Manrope&display=swap");

.modern-nav-a {
  font-family: Poppins;
  font-style: normal;
  font-weight: bold;
  font-size: 22px;
  line-height: 33px;
  font-feature-settings: "liga" off;
  color: #3e3e3e;
}

.modern-nav-li {
  font-family: Poppins;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  font-feature-settings: "liga" off;
  color: #3e3e3e;
}

.modern-section-slider-h1 {
  font-family: Poppins;
  font-style: normal;
  font-weight: 600;
  font-size: 48px;
  line-height: 58px;
  text-align: center;
  color: #ffffff;
}

.modern-section-slider-p {
  font-family: Poppins;
  font-style: normal;
  font-weight: 300;
  font-size: 16px;
  line-height: 24px;
  text-align: center;
  color: #ffffff;
}

.modern-section-slider-button {
  padding: 10px;
  margin: 30px;
  width: 168px;
  height: 44px;
  background: #ffffff;
  border-radius: 5px;
  font-family: Poppins;
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  line-height: 24px;
  color: #3f87f5;
}
