/* common styles */
/* fonts poppins */
@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");

/* font manrope */
@import url("https://fonts.googleapis.com/css2?family=Manrope&display=swap");

/* fonts roboto */
@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");

/* font inter */
@import url("https://fonts.googleapis.com/css2?family=Inter&display=swap");

.margin-top-bottom {
  margin: 100px;
}

/* navbar start */
.bridal-nav-a {
  font-family: Poppins;
  font-style: normal;
  font-weight: bold;
  font-size: 22px;
  line-height: 33px;
  font-feature-settings: "liga" off;
  color: #3e3e3e;
}

.bridal-nav-li {
  font-family: Poppins;
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 24px;
  font-feature-settings: "liga" off;
  color: #3e3e3e;
}
/* navbar end */

/* slider start */
.bridal-slider-img {
  display: block;
  max-width: 100%;
  height: 35rem;
}

.bridal-slider-h1 {
  font-family: Poppins;
  font-style: normal;
  font-weight: 600;
  font-size: 48px;
  line-height: 58px;
  text-align: center;
  color: #ffffff;
}

.bridal-slider-p {
  font-family: Poppins;
  font-style: normal;
  font-weight: 300;
  font-size: 16px;
  line-height: 24px;
  text-align: center;
  color: #ffffff;
}

.bridal-slider-button {
  padding: 10px;
  margin-bottom: 30px;
  width: 168px;
  height: 44px;
  background: #ffffff;
  border-radius: 5px;
  font-family: Poppins;
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  line-height: 24px;
  color: #3f87f5;
}
/* slider start */

/* amazing work start */
.bridal-amazing-h1 {
  font-family: Roboto;
  font-style: normal;
  font-weight: bold;
  font-size: 36px;
  line-height: 46px;
  color: #848892;
}
/* amazing work end */

/* package start */
.bridal-package h1 {
  font-family: Roboto;
  font-style: normal;
  font-weight: bold;
  font-size: 36px;
  line-height: 46px;
  color: #231d4f;
}

.bridal-package h2 {
  font-family: Roboto;
  font-style: normal;
  font-weight: bold;
  font-size: 28px;
  line-height: 33px;
  color: #231d4f;
}

.bridal-package p,
li {
  font-family: Poppins;
  font-style: normal;
  font-weight: normal;
  font-size: 15px;
  line-height: 22px;
  color: #848199;
  list-style-type: none;
}

.bridal-package .fas {
  margin-right: 10px;
  color: #5243c2;
}

.bridal-package button {
  width: 207px;
  height: 45px;
  background: #f496d22a;
  color: #3f87f5;
  mix-blend-mode: normal;
  border-radius: 24px;
  font-family: Roboto;
  font-style: normal;
  font-weight: bold;
  font-size: 15px;
  line-height: 18px;
  text-align: center;
  margin: 15px 0;
}

.bridal-package-border {
  background: #5243c2;
  box-shadow: 0px 42px 34px rgba(63, 135, 245, 0.25);
  border-radius: 26px;
  height: 480px;
}

.bridal-package-special-span {
  font-family: Roboto;
  font-style: normal;
  font-weight: 900;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.833333px;
  background-color: #ff4e4e;
  border-radius: 13.5px;
  color: #ffffff;
  width: 46px;
  height: 27px;
}

.bridal-package-special {
  color: #ffffff;
}

.bridal-package-special li {
  color: #ffffff;
}

.bridal-package-special .fas {
  margin-right: 10px;
  color: white;
}

.bridal-package-special button {
  height: 45px;
  background: white;
  color: #3f87f5;
  mix-blend-mode: normal;
  border-radius: 24px;
  font-family: Roboto;
  font-style: normal;
  font-weight: bold;
  font-size: 15px;
  line-height: 18px;
  text-align: center;
  margin: 15px 0;
}
/* package end */

/* question start */
.bridal-questions-h1 {
  font-family: Poppins;
  font-style: normal;
  font-weight: 600;
  font-size: 38px;
  line-height: 50px;
  margin: 80px 0px;
  text-align: center;
  color: #0d0925;
}

.bridal-nav-button {
  font-family: Inter;
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 28px;
  font-feature-settings: "tnum" on, "lnum" on;
  color: #383838;
}

.bridal-questions-paragraph {
  font-family: Inter;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 28px;
  font-feature-settings: "tnum" on, "lnum" on;
  color: #7e848c;
}
/* question start */

/* contact start */
.bridal-contact {
  margin: 40px 0;
}

.bridal-bg-info {
  background-color: #fceae8;
  border-radius: 36px;
}

.bridal-btn {
  width: 207px;
  height: 45px;
  color: white;
  background-color: #3f87f5;
  mix-blend-mode: normal;
  border-radius: 24px;
  font-family: Roboto;
  font-style: normal;
  font-weight: bold;
  font-size: 15px;
  line-height: 18px;
  text-align: center;
  margin: 15px 0;
}
/* contact end */

.footer {
  height: 280px;
  background: #0b0d17;
  margin-top: 120px;
}

.footer p {
  font-family: Manrope;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 24px;
  font-feature-settings: "liga" off;
  color: #d9dbe1;
  margin: 10%;
}

.footer h5 {
  font-family: Manrope;
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 28px;
  font-feature-settings: "liga" off;
  color: #d9dbe1;
}

.footer img {
  width: 135px;
  height: 40px;
  margin-bottom: 16px;
}
