/* fonts poppins */
@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");

.modern-nav-a {
  font-family: Poppins;
  font-style: normal;
  font-weight: bold;
  font-size: 22px;
  line-height: 33px;
  font-feature-settings: "liga" off;
  color: #3e3e3e;
}

.modern-nav-li {
  font-family: Poppins;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  font-feature-settings: "liga" off;
  color: #3e3e3e;
}
