/* fonts poppins */
@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");

/* font manrope */
@import url("https://fonts.googleapis.com/css2?family=Manrope&display=swap");

/* fonts roboto */
@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");

/* font inter */
@import url("https://fonts.googleapis.com/css2?family=Inter&display=swap");

.modern-nav-a {
  font-family: Poppins;
  font-style: normal;
  font-weight: bold;
  font-size: 22px;
  line-height: 33px;
  font-feature-settings: "liga" off;
  color: #3e3e3e;
}

.modern-nav-li {
  font-family: Poppins;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  font-feature-settings: "liga" off;
  color: #3e3e3e;
}

.modern-section-slider-h1 {
  font-family: Poppins;
  font-style: normal;
  font-weight: 600;
  font-size: 48px;
  line-height: 58px;
  text-align: center;
  color: #ffffff;
}

.modern-section-slider-p {
  font-family: Poppins;
  font-style: normal;
  font-weight: 300;
  font-size: 16px;
  line-height: 24px;
  text-align: center;
  color: #ffffff;
}

.modern-section-slider-button {
  padding: 10px;
  margin: 30px;
  width: 168px;
  height: 44px;
  background: #ffffff;
  border-radius: 5px;
  font-family: Poppins;
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  line-height: 24px;
  color: #3f87f5;
}

.section-moments-img {
  width: 446px;
  height: 300px;
}

.section-moments-h1 {
  font-family: Poppins;
  font-style: normal;
  font-weight: bold;
  font-size: 38px;
  line-height: 60px;
  color: #0a0826;
}

.section-moments-p {
  font-family: Poppins;
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  line-height: 28px;
  color: #6c6c6c;
}

.section-moments-button {
  padding: 10px 24px;
  width: 230px;
  height: 44px;
  left: 737px;
  top: 1037px;
  background: #3f87f5;
  font-family: Poppins;
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  line-height: 24px;
  color: #ffffff;
}

.section-package-h1 {
  font-family: Roboto;
  font-style: normal;
  font-weight: bold;
  font-size: 36px;
  line-height: 46px;
  color: #231d4f;
}

.section-package-h2 {
  font-family: Roboto;
  font-style: normal;
  font-weight: bold;
  font-size: 28px;
  line-height: 33px;
  color: #231d4f;
}

.section-package-p-li {
  font-family: Poppins;
  font-style: normal;
  font-weight: normal;
  font-size: 15px;
  line-height: 22px;
  color: #848199;
  list-style-type: none;
}

.section-package-p-li .fas {
  margin-right: 10px;
  color: #5243c2;
}

.section-package-button {
  width: 207px;
  height: 45px;
  background: #f496d22a;
  color: #3f87f5;
  mix-blend-mode: normal;
  border-radius: 24px;
  font-family: Roboto;
  font-style: normal;
  font-weight: bold;
  font-size: 15px;
  line-height: 18px;
  text-align: center;
  margin: 15px 0;
}

.modern-questions-h1 {
  font-family: Poppins;
  font-style: normal;
  font-weight: 600;
  font-size: 38px;
  line-height: 50px;
  margin: 80px 0px;
  text-align: center;
  color: #0d0925;
}

.modern-nav-button {
  font-family: Inter;
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 28px;
  font-feature-settings: "tnum" on, "lnum" on;
  color: #383838;
}

.modern-questions-paragraph {
  font-family: Inter;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 28px;
  font-feature-settings: "tnum" on, "lnum" on;
  color: #7e848c;
}

.footer {
  height: 280px;
  background: #0b0d17;
  align-items: center;
  justify-content: center;
  margin-top: 150px;
  display: flex;
  justify-content: space-between;
}

.footer-p {
  font-family: Manrope;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 24px;
  font-feature-settings: "liga" off;
  color: #d9dbe1;
  margin: 10%;
}

.footer-div {
  margin-right: 10%;
  display: grid;
  grid-template-columns: repeat(1, 1fr);
}

.footer-h5 {
  font-family: Manrope;
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 28px;
  font-feature-settings: "liga" off;
  color: #d9dbe1;
}

.footer-image {
  height: 70px;
}
